.box-req {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;
}

.box-req .info-req{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
}

.info-req .box-top, .box-down{
    margin: 1rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.text-req {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.video-req {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 5rem;  
}

.video-req > h4{
    font-size: 1.5rem;
    color: #0095be;
}

.video-req > p{
    margin: 2rem auto;
}

@media screen and (max-width: 770px){
    .text-req {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .video-req > h4{
        text-align: center;
    }

    .video-req > p {
        text-align: center;
    }

    .video-req {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;  
        padding-left: 0;  
    }

    .video {
        width: 60rem;
        height: 100rem;
        border-radius: 55px;
    }
}
.video {
    width: 80rem;
    height: 30rem;
    border-radius: 5px;
}
